@import "custom_variables";

@font-face {
  font-family: 'belligerent';
  src: url('../font/belligerent-webfont.woff') format('woff'),
    url('../font/belligerent-webfont.eot') format('eot'),
    url('../font/belligerent-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  // default font-family for all
  font-family: 'belligerent' !important;
}

.hidden {
  visibility: hidden;
}

.logo-img:hover,
#return:hover {
  transform: scale(0.9);
  transition: 250ms ease-in-out;
}

.secondary-border {
  border-bottom: .25rem solid $second-theme-color;
}

.title-border {
  width: 12rem;
}

#searchInput {
  height: 4rem;
  width: 50vw;
}

.mini-card {
  height: 8rem;
}

.basket-card {
  width: 6rem;
  height: 4rem;
}

.link-anim {
  background: linear-gradient(to top, ($second-theme-color) 0%, ($second-theme-color) 5%, transparent 5.01%) no-repeat left bottom / 0 100%;
  transition: background-size .3s;
  font-size: 1.5rem;
}

.link-anim:hover {
  background-size: 100% 100%;
}


.main-color {
  background-color: $theme-color;
}

.scale-up:hover,
.scale-up:focus {
  transform: scale(1.05);
  transition: 350ms ease-in-out;
}

.color-choice {
  width: 8rem;
  height: 6rem;
  margin: .5rem;
}

input[type="radio"].btn-check.color-option:checked+label {
  outline: .35rem solid $second-theme-color;
}

.color-btn {
  width:8rem; 
  height:5rem;
}

// Basket style //
.panier-btn {
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: .8rem 1.5rem;
  }

  // Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
  button {
    position: relative;
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
      border-color: var(--hover);
      color: #f3e9f1;
    }
  }

  .panier-badge {
    color: white;
    padding: .2rem .6rem;
    position: absolute;
    top: -.5rem;
    right: -1rem;
    font-size: 1.3rem;
    background-color: red;
    border-radius: 1rem;
  }

  // Multiple shadows, one on the outside, another on the inside
  .offset {
    box-shadow:
      0.3em 0.3em 0 0 var(--color),
      inset 0.3em 0.3em 0 0 var(--color);
    font-size: 2rem;

    &:hover,
    &:focus {
      box-shadow:
        0 0 0 0 var(--hover),
        inset 6em 3.5em 0 0 var(--hover);
    }
  }

  $colors: (offset: #8f5bfd);

  @each $button,
  $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 20deg)};
    }
  }
} // panier-btn

// Media-queries for customized elements
@media only screen and (max-width: 768px) {
  .color-btn {
    width:5rem; 
    height:5rem;
    border-radius: 10rem !important;
    font-size: 1rem !important;
    overflow: hidden;
  }

  #return .return {
    height: 2rem;
    margin-right: 3rem;
  }
  .panier-btn {
    .panier-badge {
      padding: .2rem .4rem;
      font-size: 1rem;
    }
    .offset {
      margin-left: 1rem;
      padding: .5rem .6rem;
      box-shadow: 0.1em 0.1em 0 0 var(--color), inset 0.1em 0.1em 0 0 var(--color);
      font-size: 1rem;
    }
    button {
      padding: .7rem 1rem;
    }

    .button {
      padding: 0 .5rem;
      margin-left: .5rem;
    }

    .panier-text {
      font-size: 1.2rem;
    }
  }

  #searchInput {
    width: 100%;
  }

  .title-border {
    width: 10rem;
  }

  #suggestions {
    .teddy {
      width: 80%;
    }
  }
}