@import "custom_variables";
@font-face {
    font-family: 'belligerent';
    src: url('../font/belligerent-webfont.woff') format('woff'),
    url('../font/belligerent-webfont.eot') format('eot'),
    url('../font/belligerent-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

* { // default font-family for all
    font-family: 'belligerent'!important;
}

.hidden {
    visibility: hidden;
}

.link-anim{
    background: linear-gradient(to top, ($second-theme-color) 0%, ($second-theme-color) 5%, transparent 5.01%) no-repeat left bottom / 0 100%;
    transition: background-size .3s;
    font-size: 1.5rem;
}

.link-anim:hover{
    background-size: 100% 100%;
}

.main-color {
    background-color: $theme-color;
}

.logo-img:hover, #return:hover {
      transform: scale(0.9);
      transition: 250ms ease-in-out;
}

.scale-up:hover, .scale-up:focus {
    transform: scale(1.05);
    transition: 350ms ease-in-out;
}

.color-choice {
    width: 8rem;
    height: 6rem;
    margin: .5rem;
}

input[type="radio"].btn-check.color-option:checked+label {
    outline: .35rem solid $secondary;
    transform: scale(1.08);
    }